// Monaco Nerd Font (Ligatures supported, subset optimized)
@font-face {
  font-family: 'Monaco Nerd Font';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/monaco-nerd/LigaMonacoNerdFont-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Monaco Nerd Font';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/monaco-nerd/LigaMonacoNerdFont-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Monaco Nerd Font';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/monaco-nerd/LigaMonacoNerdFont-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Monaco Nerd Font';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/monaco-nerd/LigaMonacoNerdFont-BoldItalic.woff2') format('woff2');
}

