html {
  @apply text-sm md:text-base h-screen;
}

body {
  @apply font-secondary font-normal leading-relaxed text-foreground;
  @apply bg-background;
  @apply flex flex-col min-h-screen lg:mx-8;
  @apply leading-7 md:leading-8;
  // font-family: "Maple Mono NF CN Light", serif;
  // font-family: "PingFang SC", " Hiragino Sans GB", " Microsoft YaHei";
  font-family: "Monaco Nerd Font";
  font-weight: 400;
  // line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-semibold leading-tight text-foreground intersect:animate-fade opacity-0;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4 font-medium;
}

h5,
.h5 {
  @apply text-h5 font-medium;
}

h6,
.h6 {
  @apply text-h6 font-medium;
}

p {
  @apply intersect:animate-fade opacity-0;
}

b,
strong {
  @apply font-extrabold;
  @apply text-foreground;
}

img {
  @apply mx-auto;
}

// 分隔线样式
hr {
  @apply my-8 border-border;
}

a {
  // 
  @apply font-bold;
  @apply relative;
}

a.under {
  // 下划线基础样式
  @apply text-zinc-700 dark:text-zinc-300;
  &::after {
    @apply content-[''] absolute left-0 bottom-0;
    @apply w-0 h-[2px];
    @apply bg-current;
    @apply transition-all duration-200 ease-in-out;
  }

  // 鼠标悬浮时展开下划线
  &:hover::after {
    @apply w-full;
  }
}

.main-content {
  @apply mt-4;
}

// Container
.container {
  @apply mx-auto max-w-[1300px] px-4;
}

.container-l {
  @apply mx-auto max-w-[1300px] px-2;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.katex {
  .base {
    @apply text-foreground;
  }
}

html.dark .astro-code,
html.dark .astro-code span {
  // color: var(--shiki-dark) !important;
  // background-color: var(--shiki-dark-bg) !important;
}

// code {
//   @apply after:border-none;
// }
.left_centor {
  position: absolute;
  left: calc(50% - 37px);
  transform: translateX(-50%);
}

.prose :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *))::marker {
  @apply text-primary !important;
}

/* 通用SVG图标样式约束 */
// .prose svg {
//   width: 16px;
//   height: 16px;
//   display: inline-block;
//   flex-shrink: 0;
//   stroke-width: 2;
// }

// /* 确保所有SVG图标都有合适的尺寸 */
// svg:not(.hero-icon):not(.logo) {
//   max-width: 24px;
//   max-height: 24px;
//   width: auto;
//   height: auto;
//   display: inline-block;
// }