---
import type { SocialLinks } from "@/types";
import { FaGithub } from "react-icons/fa";
import GlassButton from "@components/ui/GlassButton.astro";

interface Props {
  links?: SocialLinks;
}

const { links } = Astro.props;

const liClass = "inline-block px-1 intersect:animate-fade opacity-0";
---

{
  links && (
    <ul class="py-2 flex items-center">
      {links.github && (
        <li class={liClass}>
          <a href={links.github} target="_blank" rel="noopener noreferrer">
            <GlassButton
              id="github"
              variant="info"
              size="sm"
              iconPosition="left"
              title="GitHub"
              className="min-w-10 justify-center"
            >
              <span class="sr-only">GitHub</span>
              <FaGithub className="w-6 h-6 dark:hover:text-black hover:text-black transition duration-300" />
            </GlassButton>
          </a>
        </li>
      )}
    </ul>
  )
}

